-r requirements.txt
ruff==0.11.8
isort==6.0.1
flake8==7.2.0
pylint==3.3.7
mypy==1.15.0
pyright==1.1.400
pytest==8.3.5
pytest-drop-dup-tests==1.0.0
pytest-sugar==1.0.0
pytest-cov==6.1.1
twine==6.1.0
pandas-stubs==2.2.3.250308